md-toolbar
    .md-toolbar-tools
        md-button.md-icon-button.material-icons(ng-click='AppVM.toggleSidenav()') menu
        span(translate='APP.ARTICLES.ARTICLES')

md-content
    md-card(
        ng-repeat='Article in ArticlesListVM.articles'
    )
        md-card-title
            md-card-title-text
                span.md-headline(ng-bind='Article.name', ui-sref='app.articles_detail({ articleId: Article._id })')
                span.md-subhead(ng-bind='Article.description')

        md-card-content(layout='row', layout-align='space-between')
            img.md-media-xl.card-media(
                ng-src="{{ArticlesListVM.Config.api}}/240x240/{{Article.image}}"
                alt='{{Article.name}}'
                ui-sref='app.articles_detail({ articleId: Article._id })'
            )
            md-card-actions(layout='column')
                md-button.md-icon-button.material-icons(href='') flight_takeoff
                md-button.md-icon-button.material-icons(href='') favorite_border
                md-button.md-icon-button.material-icons(href='') share

   md-button.md-fab.md-fab-bottom-right.material-icons(ui-sref='app.articles_create') add
