md-toolbar
    .md-toolbar-tools
        md-button.md-icon-button.material-icons(ng-click="AppVM.toggleSidenav()") menu
        span(translate='APP.CAMERA.CAMERA')

md-content
    md-card
        md-card-header
            md-card-header-text
                md-title(translate='APP.CAMERA.CAMERA')

        md-card-content
            img(ng-src='data:image/jpeg;base64,{{CameraDemoVM.data}}', flex='100')

        md-card-actions(layout='row', layout-align='end center')
            md-button(ng-click='CameraDemoVM.getPicture()') TAKE PICTURE
