md-toolbar
    .md-toolbar-tools
        md-button.md-icon-button.material-icons(ng-click="AppVM.toggleSidenav()") menu
        span(translate='APP.GEOLOCATION.GEOLOCATION')

md-content
    md-card
        md-card-header
            md-card-header-text
                md-title(translate='APP.GEOLOCATION.GEOLOCATION')

        md-card-content(ng-bind='GeolocationDemoVM.data')
